{
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "tabWidth": 2,
  "printWidth": 80,
  "overrides": [{
    "files": [
      "**/codemods/*/src/**/*.js",
      "**/codemods/*/src/**/*.ts",
      "**/codemods/*/test/**/*.js",
      "**/codemods/*/test/**/*.ts",
      "**/packages/*/src/**/*.js",
      "**/packages/*/src/**/*.ts",
      "**/packages/*/test/**/*.js",
      "**/packages/*/test/**/*.ts",
      "**/eslint/*/src/**/*.js",
      "**/eslint/*/src/**/*.ts",
      "**/eslint/*/test/**/*.js",
      "**/eslint/*/test/**/*.ts"
    ],
    "options": {
      "trailingComma": "all"
    }
  }]
}
